{% extends 'main/base.html' %}

{% block title %}{{ post.title }} | REIGN{% endblock %}

{% block content %}
<article class="post-detail">
    <div class="post-date">{{ post.created_at|date:"d.m.Y" }}</div>
    <h1 class="post-title">{{ post.title }}</h1>
    
    {% if post.image %}
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    
    <div class="post-content">
        {{ post.content|safe }}
    </div>
    
    <div class="post-meta">
        <span>Автор: {{ post.author.username }}</span>
        <span>Обновлено: {{ post.updated_at|date:"d.m.Y H:i" }}</span>
    </div>
</article>
{% endblock %}