{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="gallery-container">
    <h1 class="gallery-title">Галерея</h1>
    
    <div class="gallery-grid">
        {% for image in images %}
        <div class="gallery-item">
            <div class="gallery-image-container">
                <img src="{{ image.image.url }}" 
                     alt="{{ image.title }}" 
                     class="gallery-image"
                     onclick="openModal('{{ image.image.url }}', '{{ image.title }}', '{{ image.description }}')">
            </div>
            <div class="gallery-caption">
                <h3>{{ image.title }}</h3>
                {% if image.description %}
                <p>{{ image.description|truncatewords:10 }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Модальное окно -->
<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
    <div class="modal-caption">
        <h3 id="modalTitle"></h3>
        <p id="modalDescription"></p>
    </div>
</div>
{% endblock %}